body {
    background-color: #111;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 225px;
}

a, .hero-text, .hero button {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px 0px;
}

.hero-header {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}


.hero button {
    background-color: #3882F6;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}

.hero-placeholder {
    background-color: #3d4653;
    height: 250px;
    flex: 0 0 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}