* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 225px;
}

a, .hero-text, .hero button {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px 0px;
}

.hero-header {
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

.hero button {
    background-color: #3882F6;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-weight: 700;
}

.hero-placeholder {
    background-color: #3d4653;
    height: 250px;
    flex: 0 0 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

.info {
    background-color: #FFF;
    padding: 80px 0px;
}

.info-header {
    margin: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    flex: 0 0 auto;
    filter: invert();
}

.card p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 350px;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote .credit {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
}

.call-container {
    background-color: #FFF;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.call {
    background-color: #3882F6;
    border-radius: 10px;
    width: 800px;
    height: 150px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    border-color: #FFF;
    border-style: solid;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.call-text {
    color: #FFF;
    font-size: 18px;
}

.call-header {
    font-size: 24px;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    padding: 30px 0px;
    text-align: center;
    color: #E5E7EB;
    font-size: 18px;
}